{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css" // 可以选择 'css' 或 'true'，'true' 会引入 less 文件
      }
    ]
  ]
}
